<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Authorization Server</title>
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
	  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="/">Authorization Server User</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<hr/>
			<a th:href="@{/addUser}" class="btn btn-primary">Add User</a>
			<div class="col-lg-10 mt-5 mb-5">
				<table class="table table-bordered table-striped" id="user-table">
					<thead>
						<tr>
							<th>UUID</th>
							<th>Individual</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
						<!-- 	<th>Birth date</th> -->
							<th>Created On</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="userResource : ${user.userResources}">
							<td th:text="${userResource.loginUuid}">ID</td>
							<td th:text="${userResource.individual}">Individual</td>
							<td th:text="${userResource.firstName} + (${userResource.lastName == null } ? '': ${userResource.lastName})">Name</td>
							<td th:text="${userResource.email}">Email</td>
							<td th:text="${userResource.phoneNumber}">Phone Number</td>
							<td th:text="${userResource.accountCreatedOn}">Created On</td>
						</tr>
					</tbody>
				</table>

				<nav aria-label="Page navigation" class="paging">
					<ul class="pagination" th:if="${user.count > 1}">
						<li class="page-item"
							th:classappend="${!employees.paging.isPrevEnabled()? 'disabled' : ''}">
							<a class="page-link"
							th:href="@{'/?pageNumber=' + ${employees.paging.pageNumber - 1}}"
							tabindex="-1">Previous</a>
						</li>
						<th:block th:each="item : ${employees.paging.getItems()}">
							<li class="page-item"
								th:classappend="${item.index == employees.paging.pageNumber? 'active' : ''}"
								th:if="${item.pageItemType.name() == 'PAGE'}"><a
								class="page-link" th:href="@{'/?pageNumber=' + ${item.index}}"
								th:text="${item.index}"></a></li>
							<li class="page-item disabled"
								th:if="${item.pageItemType.name() == 'DOTS'}"><a
								class="page-link" href="#">...</a></li>
						</th:block>
						<li class="page-item"
							th:classappend="${!employees.paging.isNextEnabled()? 'disabled' : ''}">
							<a class="page-link"
							th:href="@{'/?pageNumber=' + ${employees.paging.pageNumber + 1}}">Next</a>
						</li>
					</ul>
				</nav> 
			</div>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
	<script>
			$(document).ready(function() {
				$("#user-table").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
</body>
</html>